body {
    font-family: 'Arial', sans-serif;
    background-size: cover;
    background-color: #1b1e3d; /* Fondo oscuro */
    margin: 0;
    padding: 0;
}

.login-container, .entrada-container {
    width: 300px;
    margin: 50px auto;
    padding: 30px;
    background: rgba(0, 0, 0, 0.8); /* Fondo oscuro con transparencia */
    border-radius: 12px; /* Esquinas más redondeadas */
    box-shadow: 0 4px 20px rgba(0, 255, 255, 0.5); /* Sombra neón */
    border: 2px solid rgba(0, 255, 255, 0.5); /* Borde neón */
}

h1, h2 {
    text-align: center;
    color: #00ffcc; /* Color neón */
    text-shadow: 0 0 10px rgba(0, 255, 204, 0.7); /* Sombra de texto */
}

input[type="text"], input[type="password"], button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgba(0, 255, 255, 0.5); /* Borde neón */
    border-radius: 6px; /* Esquinas redondeadas */
    background-color: rgba(255, 255, 255, 0.1); /* Fondo claro y transparente */
    color: #fff; /* Texto blanco */
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #00ffcc; /* Borde neón en foco */
    outline: none;
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.8); /* Sombra de enfoque */
}

button {
    background-color: #00ffcc; /* Color de fondo neón */
    color: black; /* Texto negro */
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
}

button:hover {
    background-color: #00e0b3; /* Color de fondo al pasar el mouse */
    transform: scale(1.05); /* Efecto de aumento */
}

.logout-button {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    color: #fff;
    background-color: #ff007f; /* Color neón */
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s; /* Transición suave */
}

.logout-button:hover {
    background-color: #ff4d94; /* Color de fondo al pasar el mouse */
}

.logo-container, .logo-container2 {
    text-align: center; 
    margin-bottom: 20px; 
}

.logo-container img, .logo-container2 img {
    max-width: 100%; /* Asegurar que la imagen no exceda el contenedor */
    height: auto; 
}

.user-image-container {
    margin-top: 20px;
    text-align: center;
}

.user-image-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid rgba(0, 255, 255, 0.5); /* Borde neón */
}

.error {
    text-align: center;
    color: #ff4d4d; /* Color de error neón */
    margin-bottom: 15px;
}